.production-graph-wrapper {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;

    div {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;

        .graph-value {
            margin-top: 10px;
            font-weight: 600;
            font-size: 10pt;
        }
    }
    .photovoltaic {
        border-right: 1px solid var(--ion-color-medium-shade);
        color: var(--ion-color-primary);
        ion-icon {
            font-size: 25px;
            border: 1px solid var(--ion-color-primary);
            border-radius: 50%;
            padding: 10px;
        }
        .graph-value {
            color: var(--ion-color-primary);
            text-align: center;
        }
    }

    .home {
        border-right: 1px solid var(--ion-color-medium-shade);
        color: #2f4f8b;
        ion-icon {
            font-size: 25px;
            border: 1px solid #2f4f8b;
            border-radius: 50%;
            padding: 10px;
        }
        .graph-value {
            color: #2f4f8b;
            text-align: center;
        }
    }
    .power-grid {
        color: #cfcfcf;
        ion-icon {
            font-size: 25px;
            border-radius: 50%;
            background-color: #4c4c4c;
            padding: 10px;
        }
        .graph-value {
            text-align: center;
        }
    }
}

.card-header-flex {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

.no-padding-header {
    padding-bottom: 0px;
}
.graphic-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
    height: 200px;
    .housusage-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .houseusage {
            .data-label {
                margin-left: 10px;
                h3 {
                    font-size: 1rem;
                    font-weight: 300;
                    color: var(--ion-color-primary-contrast);
                }
                h2 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--ion-color-primary-contrast);
                }
            }
            display: flex;
            flex-direction: row;
            align-content: flex-start;
            align-items: flex-start;
            ion-icon {
                font-size: 25px;
                // border: 1px solid var(--ion-color-primary);
                // background-color: var(--ion-color-primary);;
                border-radius: 50%;
                padding: 10px;
                color: white;
            }
        }
        .grid-delivery {
            margin-top: 20px;
            .data-label {
                margin-left: 10px;
                h3 {
                    font-size: 1rem;
                    font-weight: 300;
                    color: var(--ion-color-primary-contrast);
                }
                h2 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--ion-color-primary-contrast);
                }
            }
            display: flex;
            flex-direction: row;
            align-content: flex-start;
            align-items: flex-start;
            ion-icon {
                font-size: 25px;
                border: #2f4f8b;
                border-radius: 50%;
                padding: 10px;
                // background-color: #2f4f8b;
            }
        }
    }
}

.statistic-item {
    height: 60px;
    .statistic-title {
        margin-left: 10px;
    }
    .statistic-value {
        justify-self: flex-end;
        text-align: right;
        font-weight: bold;
    }
}