<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Historie</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="content-wrapper">
    <ion-segment mode="ios" value="today" (ionChange)="this.viewChange($event)">
      <ion-segment-button value="today">Heute</ion-segment-button>
      <ion-segment-button value="month">Monat</ion-segment-button>
      <ion-segment-button value="year">Jahr</ion-segment-button>
      <ion-segment-button value="total">Gesamt</ion-segment-button>
    </ion-segment>
    <div *ngIf="!this.loading" class="chart-wrapper">
      <div *ngIf="this.currentView == 'today'" class="view-wrapper">
        <div class="history-data-wrapper">
          <div class="chart-heading date">
            <ion-card-subtitle><b>{{this.selectedDay| date: 'dd.MM.yyyy'}}</b></ion-card-subtitle>
          </div>
          <div class="chart-heading production">
            <ion-card-subtitle>Produktion</ion-card-subtitle>
            <ion-card-subtitle>{{((this.dayEntry?.produced ?? 0) /1000).toFixed(2)}} kWh</ion-card-subtitle>
          </div>
          <div class="chart-heading usage">
            <ion-card-subtitle>Verbrauch</ion-card-subtitle>
            <ion-card-subtitle>{{((this.dayEntry?.usage ?? 0) /1000).toFixed(2)}} kWh</ion-card-subtitle>
          </div>
          <div class="chart-heading delivery">
            <ion-card-subtitle>Einspeisung</ion-card-subtitle>
            <ion-card-subtitle>{{((this.dayEntry?.delivery ?? 0) / 1000).toFixed(2)}} kWh</ion-card-subtitle>
          </div>
          <div class="chart-heading consumption">
            <ion-card-subtitle>Bezug</ion-card-subtitle>
            <ion-card-subtitle>{{((this.dayEntry?.consumption ?? 0) /1000).toFixed(2)}} kWh</ion-card-subtitle>
          </div>
          <div class="canvas-wrapper">
            <canvasjs-chart class="chart" [options]="this.chartOptions"></canvasjs-chart>
          </div>
        </div>
        <div class="day-switcher">
          <div (click)="removeDay()">
            <ion-icon *ngIf="today.getDay() - 1 != selectedDay.getDay()" name="chevron-back-outline"></ion-icon>
          </div>
          <div>
            <span>{{this.selectedDay | date: 'dd.MM.yyyy'}} <ion-icon name="calendar-outline"></ion-icon></span>
          </div>
          <div (click)="addDay()">
            <ion-icon *ngIf="today.getDay() != selectedDay.getDay()" name="chevron-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div *ngIf="this.currentView == 'month'" class="view-wrapper">
        <div class="history-data-wrapper">
          <div class="chart-heading date">
            <ion-card-subtitle><b>{{this.selectedDay| date: 'MMMM yyyy'}}</b></ion-card-subtitle>
          </div>
          <div class="chart-heading production">
            <ion-card-subtitle>Produktion</ion-card-subtitle>
            <ion-card-subtitle>{{((this.monthEntry?.produced ?? 0) /1000).toFixed(2)}} kWh</ion-card-subtitle>
          </div>
          <div class="chart-heading usage">
            <ion-card-subtitle>Verbrauch</ion-card-subtitle>
            <ion-card-subtitle>{{((this.monthEntry?.usage ?? 0) /1000).toFixed(2)}} kWh</ion-card-subtitle>
          </div>
          <div class="chart-heading delivery">
            <ion-card-subtitle>Einspeisung</ion-card-subtitle>
            <ion-card-subtitle>{{((this.monthEntry?.delivery ?? 0) / 1000).toFixed(2)}} kWh</ion-card-subtitle>
          </div>
          <div class="chart-heading consumption">
            <ion-card-subtitle>Bezug</ion-card-subtitle>
            <ion-card-subtitle>{{((this.monthEntry?.consumption ?? 0) /1000).toFixed(2)}} kWh</ion-card-subtitle>
          </div>
          <div class="canvas-wrapper">
            <canvasjs-chart class="chart" [options]="this.monthChartOptions"></canvasjs-chart>
          </div>
        </div>
        <!-- <div class="day-switcher">
          <div (click)="removeDay()">
            <ion-icon *ngIf="today.getDay() - 1 != selectedDay.getDay()" name="chevron-back-outline"></ion-icon>
          </div>
          <div>
            <span>{{this.selectedDay | date: 'dd.MM.yyyy'}} <ion-icon name="calendar-outline"></ion-icon></span>
          </div>
          <div (click)="addDay()">
            <ion-icon *ngIf="today.getDay() != selectedDay.getDay()" name="chevron-forward-outline"></ion-icon>
          </div>
        </div> -->
      </div>
    </div>
    <div *ngIf="this.loading" class="loading-wrapper">
      <ion-spinner color="primary"></ion-spinner>
      <h2>Lade Daten...</h2>
    </div>
  </div>
</ion-content>
