.content-wrapper {
    padding: 10px;
    height: 100%;
    .loading-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .chart-wrapper {
        height: 100%;
        .view-wrapper {
            height: 100%;
            .chart-heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: space-between;
                padding: 20px;
                ion-card-subtitle {
                    font-size: medium;
                }
            }
            .canvas-wrapper {
                height: 75%;
            }
            .day-switcher {
                width: 100%;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: space-between;
            }
        }
    }

}