<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Back</ion-button>
    </ion-buttons>
    <ion-title>Detailansicht</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="history-data-wrapper">
    <div class="chart-heading date">
      <ion-card-subtitle><b>Stromnetzfrequenz von {{this.start | date : 'HH:mm'}} - {{this.end | date : 'HH:mm'}}
          Uhr</b></ion-card-subtitle>
    </div>
    <div class="chart-heading"
      [ngClass]="{'stable': this.max > 49.85, 'warning': this.max > 49.8, 'danger': this.max <= 49.8}">
      <ion-card-subtitle>Minimum</ion-card-subtitle>
      <ion-card-subtitle class="freq-value">{{this.min.toFixed(2)}} Hz</ion-card-subtitle>
    </div>
    <div class="chart-heading"
      [ngClass]="{'stable': this.max < 50.15, 'warning': this.max < 50.2, 'danger': this.max >= 50.2}">
      <ion-card-subtitle>Maximum</ion-card-subtitle>
      <ion-card-subtitle class="freq-value">{{this.max.toFixed(2)}} Hz</ion-card-subtitle>
    </div>
  </div>
  <div class="chart-container">
    <canvasjs-chart class="chart" [options]="this.graphOptions"></canvasjs-chart>
  </div>
</ion-content>